---
import { Image } from "astro:assets";
import Footer from '../components/Footer.astro';
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import PodcastEpisodeListing from '../components/PodcastEpisodeListing.astro';

import bestOfEpisodes from '../data/episodes-best-of.json';

// Header image
import headerImageAndyWolfiLounge from "../images/headers/andy-grunwald-wolfgang-gassler-lounge.jpg";

let title = 'Alle Links - Engineering Kiosk';
let description = 'Alle wichtigen Links zum Engineering Kiosk: Podcast auf Spotify, Apple & Co., Tech-Meetups, Discord-Community und Social Media für Software-Engineers.';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

import podcastInfo from '../data/podcast-info.json';

const platforms = [
	{ "name": "Apple", "image": "/images/brands/apple.svg", "href": podcastInfo.platformLinks.appleMusic },
	{ "name": "Spotify", "image": "/images/brands/spotify.svg", "href": podcastInfo.platformLinks.spotify },
	{ "name": "Amazon", "image": "/images/brands/amazonmusic_black.svg", "href": podcastInfo.platformLinks.amazonMusic },
	{ "name": "YouTube", "image": "/images/brands/youtube.svg", "href": podcastInfo.platformLinks.youTube },
	{ "name": podcastInfo.socials.tiktok.name, "image": podcastInfo.socials.tiktok.icon, "href": podcastInfo.socials.tiktok.link },
	{ "name": podcastInfo.socials.instagram.name, "image": podcastInfo.socials.instagram.icon, "href": podcastInfo.socials.instagram.link },
	{ "name": "RSS", "image": "/images/brands/rss.svg", "href": podcastInfo.platformLinks.rss },
]

const bestPerformingEpisodes = [
  ...bestOfEpisodes
    .sort((a, b) => a.rank - b.rank) 	// Sort by rank
    .map(item => item.title)         	// Only get the titles
];

const latestEpisodes = [
	"latest-3"
];

---

<html lang="de">
	<head>
		<MainHead title={title} description={description} image="/images/logos/pocast-episode-logo-cover.jpg" {canonicalURL} noindex />
	</head>

	<body class="antialiased bg-body text-body font-body">
		<div>
			<Nav title={title} />

			<section class="relative bg-white overflow-hidden" style="background-image: url('/images/elements/pattern-white.svg'); background-position: center;">
				<div class="py-12 md:py-28">
					<div class="container px-4 mx-auto text-center">
						<h1 class="text-3xl md:text-5xl lg:text-5xl 2xl:text-6xl leading-tight font-bold tracking-tight">Engineering Kiosk</h1>
						<Image class="inline-block m-4 w-1/2 md:w-1/3 rounded-7xl mt-8" src={headerImageAndyWolfiLounge} alt="Die Podcast-Hosts Andy Grunwald und Wolfgang Gassler" title="Die Podcast-Hosts Andy Grunwald und Wolfgang Gassler" format="webp" quality={80} />
					</div>
					<div class="text-center mt-4">
						{
							platforms.map((platform) => (
								<a class="inline-block" href={platform.href} title={`Engineering Kiosk bei ${platform.name}`}>
									<img class="m-2 h-8 grayscale" src={platform.image} alt={`Engineering Kiosk bei ${platform.name}`} title={`Engineering Kiosk bei ${platform.name}`} />
								</a>
							))
						}
					</div>
				</div>
				
			</section>	

			<PodcastEpisodeListing episodes={bestPerformingEpisodes} showAllButton={true} descriptionChars={-1} headline="Unsere Best-Of Episoden" description="Neu hier? Unsere Best-Of-Episoden sind der perfekte Einstieg in den Engineering Kiosk – spannende Gespräche über Menschen, Technologie und Engineering-Kultur." sectionID="best-of-episoden" />

			<section id="alle-episoden" class="py-20 md:py-28 bg-coolGray-900 overflow-hidden" style="background-image: url('/images/elements/pattern-dark2.svg'); background-position: center;">
				<div class="container px-4 mx-auto flex flex-col items-center">
					<h3 class="mb-8 font-bold leading-tight text-white text-4xl md:text-5xl tracking-tight">Lust auf mehr?</h3>
					<a class="inline-block py-4 px-5 mt-2 text-yellow-50 font-medium text-center bg-yellow-500 hover:bg-yellow-600 focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 rounded-md shadow-sm" href="/podcast/">
						Alle Podcast Episoden anzeigen
					</a>
				</div>
			</section>

			<PodcastEpisodeListing episodes={latestEpisodes} showAllButton={true} descriptionChars={-1} headline="Unsere drei aktuellsten Episoden" description="Direkt aus dem Studio – die drei aktuellsten Folgen über Software, Teams & Technik, die du nicht verpassen solltest! Jeden Dienstag neu. Überall da wo es Podcasts gibt." sectionID="aktuellste-podcast-episoden" />

			<section id="kaffee-support" class="py-20 md:py-28 bg-coolGray-900 overflow-hidden" style="background-image: url('/images/elements/pattern-dark2.svg'); background-position: center;">
				<div class="container px-4 mx-auto flex flex-col items-center">
					<h3 class="mb-8 font-bold leading-tight text-white text-4xl md:text-5xl tracking-tight">Supporte uns mit einem Kaffee ...</h3>
					<a class="inline-block py-4 px-5 mt-2 text-yellow-50 font-medium text-center bg-yellow-500 hover:bg-yellow-600 focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 rounded-md shadow-sm" href="https://buymeacoffee.com/engineeringkiosk">
						Buy Me A Coffee ☕
					</a>
				</div>
			</section>

			<Footer />
		</div>
	</body>
</html>
