---
import Matomo from './Matomo.astro';
import podcastInfo from '../data/podcast-info.json';

const year = new Date().getFullYear();
---

<footer class="bg-white" style="background-image: url('/images/elements/pattern-white.svg'); background-position: center;">
	<div class="container px-4 mx-auto">
		<div class="flex flex-wrap pt-24 pb-12 -mx-4">
			<div class="w-full md:w-1/2 lg:w-4/12 px-4 mb-16 lg:mb-0">
				<a href="/" title="Engineering Kiosk Startseite" class="flex flex-row items-center mb-4">
					<img class="h-12" src="/images/logos/engineering-kiosk-logo.svg" alt="Engineering Kiosk Logo" title="Engineering Kiosk Logo" />
					<span class="text-xl ml-4">Engineering Kiosk</span>	
				</a>
				<p class="text-base md:text-lg text-coolGray-500 font-medium lg:w-64">
					Podcast, Tech-Meetups und Community rund um die Themen Engineering-Kultur, Open Source, Menschen und Technologie.
				</p>
			</div>
			<div class="w-full md:w-1/4 lg:w-2/12 px-4 mb-16 lg:mb-0">
				<h3 class="mb-5 text-lg font-bold text-coolGray-900">Engineering Kiosk</h3>
				<ul>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Engineering Kiosk Podcast Episoden" href="/podcast/">
							<span class="w-6 mr-2">🎙️</span> Podcast
						</a>
					</li>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Engineering Kiosk Meetup Alps" href="/meetup/alps/">
							<span class="w-6 mr-2">🏔️</span> Meetup Alps
						</a>
					</li>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Engineering Kiosk Meetup Rhine-Ruhr" href="/meetup/rhine-ruhr/">
							<span class="w-6 mr-2">🌉</span> Meetup Rhine-Ruhr
						</a>
					</li>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Engineering Kiosk Kioskbetreiber" href="/kiosk-betreiber/">
							<span class="w-6 mr-2">🧑‍🤝‍🧑</span> Kioskbetreiber
						</a>
					</li>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Engineering Kiosk Blog" href="/blog/">
							<span class="w-6 mr-2">✍️</span> Blog
						</a>
					</li>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Engineering Kiosk Discord Community" href="/join-discord/">
							<img src="/images/brands/discord-blue.svg" class="inline w-6 mr-2" alt="Discord logo" title="Discord logo" /> Community
						</a>
					</li>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Engineering Kiosk Podcast RSS-Feed" href={podcastInfo.platformLinks.rss}> 
							<img src="/images/logos/rss-icon.svg" class="inline w-6 mr-2" alt="RSS logo" title="RSS logo" />  RSS-Feed
						</a>
					</li>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Engineering Kiosk Podcast at Spotify" href={podcastInfo.platformLinks.spotify}> 
							<img src="/images/brands/spotify.svg" class="inline w-6 mr-2" alt="Spotify logo" title="Spotify logo" />  Spotify
						</a>
					</li>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Engineering Kiosk Podcast at Apple Podcasts" href={podcastInfo.platformLinks.appleMusic}>
							<img src="/images/brands/apple.svg" class="inline w-6 mr-2" alt="Apple Podcasts logo" title="Apple Podcasts logo" />  Apple Podcasts
						</a>
					</li>
				</ul>
			</div>
			<div class="w-full md:w-1/4 lg:w-2/12 px-4 mb-16 lg:mb-0">
				<h3 class="mb-5 text-lg font-bold text-coolGray-900">Social Media</h3>
				<ul>
					{ ["x", "mastodon", "instagram", "youTube", "linkedin", "tiktok", "github", "bluesky"].map((social) => (
						<li class="mb-4">
							<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" href={podcastInfo.socials[social].link} title={podcastInfo.socials[social].linkTitle}>
								<img src={podcastInfo.socials[social].icon} class="inline w-6 mr-2" alt={podcastInfo.socials[social].iconAlt} title={podcastInfo.socials[social].iconTitle} /> {podcastInfo.socials[social].name}
							</a>
						</li>
					))}
				</ul>
			</div>
			<div class="w-full md:w-1/3 lg:w-4/12 px-4">
				<h3 class="mb-5 text-lg font-bold text-coolGray-900">Anderes</h3>
				<ul>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Deutschsprachige Tech Podcasts" href="/deutsche-tech-podcasts/"> <span class="w-6 mr-2">🎧</span> Deutschsprachige Tech Podcasts</a>
					</li>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Spiele für Softwareentwickler:innen" href="/spiele-fuer-softwareentwickler/"> <span class="w-6 mr-2">👾</span> Spiele für Softwareentwickler:innen</a>
					</li>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Filme für Softwareentwickler:innen" href="/filme-fuer-softwareentwickler/"> <span class="w-6 mr-2">🎬</span> Filme für Softwareentwickler:innen</a>
					</li>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Supporte den Engineering Kiosk über Buy me a Coffee" href="https://buymeacoffee.com/engineeringkiosk"> <span class="w-6 mr-2">☕</span> Supporte uns mit Kaffee</a>
					</li>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Engineering Kiosk Kontakt-Seite" href="/kontakt/"> <span class="w-6 mr-2">📮</span> Kontakt</a>
					</li>
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Werbung im Engineering Kiosk Podcast" href="/podcast-werbung/"> <span class="w-6 mr-2">📢</span> Werbung im Engineering Kiosk Podcast</a>
					</li>	
					<li class="mb-4">
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Aktuelle Werbepartner" href="/podcast/partners/"> Aktuelle Werbepartner</a>
					</li>					
					<li>
						<a class="inline-block text-coolGray-500 hover:text-coolGray-600 font-medium" title="Engineering Kiosk Impressum" href="/impressum/"> Impressum</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="border-b border-coolGray-100"></div>
		<p class="py-10 md:pb-16 text-sm text-coolGray-400 font-medium text-center">
			© {year} Engineering Kiosk. Alle Rechte vorbehalten.
		</p>
	</div>
	<Matomo />
</footer>
