---

import MeetupEvent from './MeetupEvent.astro';
import Talk from './Talk.astro';

import { formatDateWithoutWeekday, meetupArchiveAnchor } from '../../scripts/date.js';
import CompanyLogo from './CompanyLogo.astro';

export interface Props {
	headline: string;
	meetupsToShow: any[];
	archive?: boolean;
	meetupName: string;
	meetupSlug: string;
	meetupImage: string;
	showGeneralLanguageNote?: boolean;
	hasPastMeetups?: boolean;
}

const { headline, meetupsToShow, archive, meetupName, meetupSlug, meetupImage, showGeneralLanguageNote = false, hasPastMeetups = false } = Astro.props


---

<section class="py-24 bg-coolGray-50" style="background-image: url('/images/elements/pattern-light-big.svg'); background-position: center;">
	{
		meetupsToShow.map((meetup, i) => (
			<>
				<div class="container px-4 mx-auto" id={meetupArchiveAnchor(meetup.date)}>
					<div class="mb-16 text-center">
						<span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-yellow-500 bg-yellow-100 font-medium uppercase rounded-9xl">{headline}</span>
						<h1 class="mb-4 text-3xl md:text-5xl leading-tight text-coolGray-900 font-bold tracking-tight">
							{formatDateWithoutWeekday(meetup.date, 'en-GB')} @{' '}
							<div class="inline-block h-14">
								<CompanyLogo name={meetup.location.name} logo={meetup.location.logo} url={meetup.location.url} logoHeight="56" />
							</div>
						</h1>
						{!archive && <p class="mb-8 text-lg md:text-xl text-coolGray-500 font-medium">Join the next meetup and listen to the following talks.{showGeneralLanguageNote ? ' All talks and the meetup are in English.' : ''}</p>}
					</div>

					<div class="flex flex-wrap justify-center -mx-4">
						{meetup.talks.map((talk, j) => (
							<Talk talk={talk} meetupSlug={meetupSlug} />
						))}
					</div>
				</div>
        {meetup && meetup.talks && meetup.talks[0] && meetup.talks[0].name && meetup.talks[0].title && meetup.location.name && meetup.location.address && (
				    <MeetupEvent event={meetup} meetupName={meetupName} meetupSlug={meetupSlug} meetupImage={meetupImage} />
        )}
			</>
		))
	}
	{!archive && hasPastMeetups && (
		<div class="container px-4 mx-auto text-center mt-8 text-lg md:text-xl text-coolGray-500 font-medium">
			Find previous talks in the{' '}
			<a href="./archive/" class="text-yellow-500">
				Engineering Kiosk {meetupName} Talks Archive
			</a>
		</div>
	)}
</section>
