---
import Footer from '../Footer.astro';
import MainHead from '../MainHead.astro';
import MeetupListing from './MeetupListing.astro';
import Nav from '../Nav.astro';
import CompanyLogo from './CompanyLogo.astro';
import Newsletter from './Newsletter.astro';
import Discord from './Discord.astro';
import Team from './Team.astro';
import Sponsors from './Sponsors.astro';
import ImageSlider from './ImageSlider.astro';

import { formatDateWithoutWeekday, formatTime } from '../../scripts/date.js';
import { createMeetupHelpers } from '../../scripts/meetups.js';

export interface Props {
	collectionName: string;
	meetupName: string;
	pageTitle: string;
	pageDescription?: string;
	ogImage: string;
	badgeText: string;
	heroTitle: string;
	heroDescription: string;
	sliderImages: Array<{ src: any; alt: string; title: string }>;
	teamBadge: string;
	teamTitle: string;
	teamDescription: string;
	teamEmail: string;
	teamMembers: Array<{ memberKey: string }>;
	showRegistrationForm?: boolean;
	showGeneralLanguageNote?: boolean;
	showNewsletterForm?: boolean;
	regionDescription: string;
}

const {
	collectionName,
	meetupName,
	pageTitle,
	ogImage,
	badgeText,
	heroTitle,
	heroDescription,
	sliderImages,
	teamBadge,
	teamTitle,
	teamDescription,
	teamEmail,
	teamMembers,
	showRegistrationForm = false,
	showGeneralLanguageNote = false,
	showNewsletterForm = false,
	regionDescription,
} = Astro.props;

const meetupSlug = collectionName.replace('meetup-', '');
const { getNextMeetup, getPastMeetups } = await createMeetupHelpers(collectionName);

const bufferDays = 1;
const nextMeetup = getNextMeetup(bufferDays);
const hasPastMeetups = getPastMeetups().length > 0;
const dateString = nextMeetup ? formatDateWithoutWeekday(nextMeetup.date, 'en-US') : null;
const timeString = nextMeetup ? formatTime(nextMeetup.date) : null;
const dateAndTime = nextMeetup ? `${dateString} - open doors at ${timeString} (talks start ~30min later)` : null;
const registrationClosed = nextMeetup ? (nextMeetup.registrationClosed || false) : false;

const description = nextMeetup
	? `In-person tech meetup in ${meetupName} (Next: ${dateString}): A local community event for software engineers, developers and tech enthusiasts featuring talks on engineering culture, open source and technology.`
	: `In-person tech meetup in ${meetupName}: A local community event for software engineers, developers and tech enthusiasts featuring talks on engineering culture, open source and technology.`;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

---

<html lang="de">
	<head>
		<MainHead title={pageTitle} description={description} image={ogImage} {canonicalURL} ogImageAlt={`Engineering Kiosk Meetup ${meetupName}`} />
	</head>

	<body class="antialiased bg-body text-body font-body">
		<div>
			<Nav title={pageTitle} />

			<section class="relative bg-white overflow-hidden" style="background-image: url('/images/elements/pattern-white.svg'); background-position: center;">
				<div class="py-2 md:py-28">
					<div class="container px-4 mx-auto">
						<div class="flex flex-wrap xl:items-center -mx-4">
							<div class="w-full md:w-1/2 px-4 mb-2 md:mb-16 md:mb-0">
								<h1>
									<div>
										<span class="inline-block w-auto py-px px-2 mb-4 text-xs leading-5 text-white bg-yellow-500 uppercase rounded-9xl">{badgeText}</span>
									</div>
									<span class="block mb-6 text-3xl md:text-5xl lg:text-5xl 2xl:text-6xl leading-tight font-bold tracking-tight" set:html={heroTitle} />
								</h1>
								<p class="mb-8 text-lg md:text-xl text-coolGray-500 font-medium">
									{heroDescription}
								</p>
								{nextMeetup ? (
									<>
										<h2 class="text-lg md:text-2xl text-coolGray-500 font-medium">Next Meetup @ <div class="h-10 inline-block"><CompanyLogo name={nextMeetup.location.name} logo={nextMeetup.location.logo} url={nextMeetup.location.url} logoHeight="40" /></div></h2>
										<p class="mt-2 text-sm md:text-base text-coolGray-500 font-medium">
											📅 Date <span class="font-bold">{dateAndTime}</span>
										</p>
										<div class="mb-8 text-sm md:text-base text-coolGray-500 font-medium">
											📍 Location:
											{
												nextMeetup.location.url && (
													<a href={nextMeetup.location.url} target="_blank" rel="noopener noreferrer">
														{nextMeetup.location.name}
													</a>
												)
											}
											{!nextMeetup.location.url && nextMeetup.location.name} (<a href={`http://maps.google.com/?q=${encodeURIComponent(nextMeetup.location.address)}`} target="_blank" class="underline">{nextMeetup.location.address}</a>
											{nextMeetup.location.note && (
												<span class="text-xs">{nextMeetup.location.note}</span>
											)})

										</div>
									</>
								) : (
									<>
										<h2 class="text-lg md:text-2xl text-coolGray-500 font-medium">Next Meetup: To be announced</h2>
										<p class="mt-2 mb-8 text-sm md:text-base text-coolGray-500 font-medium">
											We are working on the next meetup. <a class="text-yellow-500 underline" data-scroll-to="a[name=newsletter]" href="#newsletter">Subscribe</a> to get notified as soon as the date is set.
										</p>
									</>
								)}

								<div class="flex flex-wrap mt-2">
									<div class="w-full md:w-auto py-1 md:py-0 md:mr-4">
									{ () => {
										if (!nextMeetup) {
											return null;
										}
										if (!registrationClosed) {
											return(
												<a
													class="inline-block py-5 px-7 w-full text-base md:text-lg leading-4 text-yellow-50 font-medium text-center bg-yellow-500 hover:bg-yellow-600 focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 border border-yellow-500 rounded-md shadow-sm"
													data-scroll-to="a[name=register]"
													href="#register"
												>
													Register for next meetup
												</a>
												 <p class="mt-12 mb-2 md:mb-8 text-lg text-coolGray-500 font-medium">
													<a class="text-yellow-500" data-scroll-to="a[name=newsletter]" href="#newsletter">
														<span class="underline">Subscribe</span> and get an email when the next meetup is announced.
													</a>
												</p>)
											} else {
											return(
												<a
													class="inline-block py-5 px-7 w-full text-base md:text-lg leading-4 font-medium text-center text-coolGray-500 outline-none placeholder-coolGray-500 border border-coolGray-200  rounded-md shadow-sm disabled"
													data-scroll-to="a[name=register]"
													href="#register"
												>
													Registration is closed (Max. Capacity Reached)
												</a>
												<p class="mt-12 mb-2 md:mb-8 text-lg text-coolGray-500 font-medium">
													<a class="text-yellow-500" data-scroll-to="a[name=newsletter]" href="#newsletter">
														We have reached the maximum number of registrations for this event. <span class="underline">Please do not show up if you have not registered beforehand</span> as the venue has limited capacity due to safety regulations. You can subscribe to our newsletter and get an email when the next meetup is announced. Hope to see you there!
													</a>
												</p>)
											}
									}}
									</div>
								</div>
							</div>
							<div class="hidden md:block w-full md:w-1/2 px-4">
								<div class="relative mx-auto md:mr-0 max-w-max">
									<img class="absolute z-10 -left-14 -top-12 w-28 md:w-auto" src="/images/elements/circle3-red.svg" alt="Roter Kreis" />
									<img class="absolute z-10 -right-7 -bottom-8 w-28 md:w-auto" src="/images/elements/dots3-green.svg" alt="Grüne Punkte" />
									<ImageSlider
										images={sliderImages}
										autoSlideInterval={2000}
										className="relative rounded-7xl"
									/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<MeetupListing meetupsToShow={nextMeetup ? [nextMeetup] : []} headline='Awesome Community Talks' meetupName={meetupName} meetupSlug={meetupSlug} meetupImage={ogImage} showGeneralLanguageNote={showGeneralLanguageNote} hasPastMeetups={hasPastMeetups} />

			{ () => {
				if (!nextMeetup) {
					return null;
				}
				if (showRegistrationForm && !registrationClosed) {
					return(
					<section class="py-4 md:py-24 bg-white" style="background-image: url('/images/elements/pattern-white.svg'); background-position: center;">
						<div class="container px-4 mx-auto w-full md:w-1/2">
							<div class="mb-16 text-center">
								<a name="register"></a>
								<h3 class="mb-4 text-3xl md:text-5xl leading-tight text-coolGray-900 font-bold tracking-tight">Please, let us know that you are coming</h3>
								<div class="leading-relaxed text-lg md:text-xl text-coolGray-500 font-medium">
									Please, for better planning and organization, let us know that you are coming. <br />
									It is free and you can cancel your registration at any time.<br />
									We'll also send you an ics-event file, so you can add the event to your calendar.
									If you can't make it, please cancel your registration by declining the event in your calendar.
									<br /><br />
									Next meetup:<br />
									<span class="font-bold">📅 {dateAndTime}</span><br />
									<div class="h-5 inline-block">
										📍 Location: <CompanyLogo name={nextMeetup.location.name} logo={nextMeetup.location.logo} url={nextMeetup.location.url} logoHeight="20" /> (<a href={`http://maps.google.com/?q=${encodeURIComponent(nextMeetup.location.address)}`} target="_blank" class="underline">{nextMeetup.location.address}</a>)
									</div>
								</div>
								<script>
									window.submitRegisterForm = function(form) {
										const regId = form.regId.value;
										const formMessage = document.getElementById('formMessage');
										formMessage.classList.remove('hidden');
										formMessage.textContent = `Registering ${regId}...`;
										const formData = new FormData(form);
										fetch(form.action, {
											method: 'POST',
											headers: {
												'Content-Type': 'application/x-www-form-urlencoded',
											},
											body: new URLSearchParams(formData).toString(),
										})
										.then((response) => {
											if (response.ok) {
												formMessage.textContent = `${regId} registered successfully!`;
											} else {
												formMessage.textContent = 'Something went wrong. Please try again later or contact us via email.';
											}
										})
										.catch((error) => {
											formMessage.textContent = 'Something went wrong. Please try again later.';
										});
										return false;
									}
								</script>
								<style>
									.email-field {
										display: none;
									}
								</style>
								<form action="https://rsvp.engineeringkiosk.dev/register" method="post" onsubmit="return submitRegisterForm(this);">
									<div class="mt-4">
										<p class="hidden text-lg mt-8" id="formMessage"></p>
										<input type="hidden" name="eventId" value={nextMeetup.eventId} />
										<input name="email" value="" placeholder="Your Email here" type="email" class="email-field" />
										<input class="bg-whitem-2 px-3 h-12 text-coolGray-900 outline-none placeholder-coolGray-500 border border-coolGray-200 focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 rounded-lg shadow-xs" name="regId" placeholder="Your email address" />
										<input type="submit" class="py-4 m-2 px-5 leading-4 cursor-pointer text-yellow-50 font-medium text-center bg-yellow-500 hover:bg-yellow-600 focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 rounded-md shadow-sm" value=`Register for ${dateString}` />
										<br />
										<div class="block sm:inline-block"><input type="checkbox" name="register" value="true" checked="checked" class="m-2" disabled/> Register for next meetup</div>
										<div class="block sm:inline-block"><input type="checkbox" name="newsletter" value="true" checked="checked" class="m-2"/> Inform me about upcoming meetups</div>
									</div>
								</form>
							</div>
						</div>
					</section>)
				} else if (showRegistrationForm && registrationClosed) {
					return(
						<section class="py-4 md:py-24 bg-white" style="background-image: url('/images/elements/pattern-white.svg'); background-position: center;">
							<div class="container px-4 mx-auto w-full md:w-1/2">
								<div class="mb-16 text-center">
									<a name="register"></a>
									<h3 class="mb-4 text-3xl md:text-5xl leading-tight text-coolGray-900 font-bold tracking-tight">Registration is closed</h3>
									<div class="leading-relaxed text-lg md:text-xl text-coolGray-500 font-medium">
										We have reached the maximum number of registrations for the event on {dateString}.<br />
										Please do not show up if you have not registered beforehand as the venue has limited capacity due to safety regulations.<br />
										You can subscribe to our newsletter below to get an email when the next meetup is announced. Hope to see you there!
									</div>
								</div>
							</div>
						</section>
					)
				} else if (!showRegistrationForm && !registrationClosed) {
					return(
					<section class="py-4 md:py-24 bg-white" style="background-image: url('/images/elements/pattern-white.svg'); background-position: center;">
						<div class="container px-4 mx-auto w-full md:w-1/2">
							<div class="mb-16 text-center">
								<a name="register"></a>
								<h3 class="mb-4 text-3xl md:text-5xl leading-tight text-coolGray-900 font-bold tracking-tight">Please, let us know that you are coming</h3>
								<div class="leading-relaxed text-lg md:text-xl text-coolGray-500 font-medium">
									Please, for better planning and organization, let us know that you are coming. <br />
									It is free and you can cancel your registration at any time.<br />
									We'll also send you an ics-event file, so you can add the event to your calendar.
									If you can't make it, please cancel your registration by declining the event in your calendar.
									<br /><br />
									Next meetup:<br />
									<span class="font-bold">📅 {dateAndTime}</span><br />
									<div class="h-5 inline-block">
										📍 Location: <CompanyLogo name={nextMeetup.location.name} logo={nextMeetup.location.logo} url={nextMeetup.location.url} logoHeight="20" /> (<a href={`http://maps.google.com/?q=${encodeURIComponent(nextMeetup.location.address)}`} target="_blank" class="underline">{nextMeetup.location.address}</a>)
									</div>
								</div>
							</div>
						</div>
					</section>)
				} else {
					return(
						<section class="py-4 md:py-24 bg-white" style="background-image: url('/images/elements/pattern-white.svg'); background-position: center;">
							<div class="container px-4 mx-auto w-full md:w-1/2">
								<div class="mb-16 text-center">
									<a name="register"></a>
									<h3 class="mb-4 text-3xl md:text-5xl leading-tight text-coolGray-900 font-bold tracking-tight">Registration is closed</h3>
									<div class="leading-relaxed text-lg md:text-xl text-coolGray-500 font-medium">
										We have reached the maximum number of registrations for the event on {dateString}.<br />
										Please do not show up if you have not registered beforehand as the venue has limited capacity due to safety regulations.<br />
										You can subscribe to our newsletter below to get an email when the next meetup is announced. Hope to see you there!
									</div>
								</div>
							</div>
						</section>
					)
				}
			}}

			<Newsletter collectionName={collectionName} meetupDisplayName={meetupName} showForm={showNewsletterForm} />

			<Discord meetupName={meetupName} />

			<Sponsors meetupCollection={collectionName} regionDescription={regionDescription} />

			<Team
				badge={teamBadge}
				title={teamTitle}
				description={teamDescription}
				email={teamEmail}
				members={teamMembers}
			/>

			<Footer />
		</div>

		<script>
			document.querySelectorAll('[data-scroll-to]').forEach((el) => {
				el.addEventListener('click', (e) => {
					e.preventDefault();
					const target = document.querySelector(el.getAttribute('data-scroll-to'));
					if (target) {
						window.scrollTo({ top: target.offsetTop, behavior: 'smooth' });
					}
				});
			});
		</script>
	</body>
</html>
