---
import { marked } from 'marked';
import { Image } from "astro:assets";
import defaultAvatar from "../../content/meetup/images/speaker/avatar.png";
import TagBadge from '../../components/TagBadge.astro';
import SocialLinks from '../SocialLinks.astro';

export interface Talk {
	avatar: string | string[];
	name: string;
	title: string;
	description: string;
	github?: string;
	x?: string;
	linkedin?: string;
	bluesky?: string;
	mastodon?: string;
	threads?: string;
	instagram?: string;
	youtube?: string;
	website?: string;
	bio?: string;
	slides?: string;
	language?: string;
}

export interface Props {
	talk: Talk;
	meetupSlug: string;
}

const { avatar, name, title, description, github, x, linkedin, bluesky, mastodon, threads, instagram, youtube, website, bio, slides, language } = Astro.props.talk;
const meetupSlug = Astro.props.meetupSlug;

const talkId = `talk-${name.toLowerCase()}-${title.toLowerCase()}`.replace(/[^a-z0-9-]/g, '-');
const avatarArray = avatar ? Array.isArray(avatar) ? avatar : [avatar] : [];

---

<div class="w-full md:w-1/2 lg:w-1/2 px-4 mb-10 hostpreview" id={talkId}>
	<div class="h-full py-8 px-10 bg-white rounded-md text-center">
		<div class="flex gap-2 justify-center mx-auto mb-6">
			{avatarArray.length ? (
				avatarArray.map((avatar) => (
					<Image class="w-56 h-56 rounded-full" src={avatar || defaultAvatar} alt="" format="webp" quality={80} width={224} height={224} />
				))
			) : <Image class="w-56 h-56 rounded-full" src={defaultAvatar} alt="" format="webp" quality={80} width={224} height={224} />}
		</div>

		<h2 class="mb-2 text-2xl md:text-3xl leading-tight font-semibold">
			{title}
		</h2>

		<span class="inline-block mb-2 text-lg font-medium text-yellow-500">
			{name}
		</span>
		{language && <div class="mb-6">
			<TagBadge name={language === 'de' ? 'Vortrag in Deutsch' : 'Talk in English'} />
		</div>}
		<div class="text-left mt-6">
			<h4 class="mb-2 text-sm font-semibold uppercase tracking-wide text-coolGray-900">About the Talk</h4>
			<div class="prose mb-8 text-coolGray-500 font-medium description" set:html={marked.parse(description)}></div>
		</div>
		{bio && (
			<div class="text-left">
				<h4 class="mb-2 text-sm font-semibold uppercase tracking-wide text-coolGray-900">About the Speaker{avatarArray.length > 1 ? 's' : ''}</h4>
				<div class="prose mb-8 text-coolGray-500 font-medium bio" set:html={marked.parse(bio)}></div>
			</div>
		)}
		<SocialLinks name={name} github={github} x={x} linkedin={linkedin} bluesky={bluesky} mastodon={mastodon} threads={threads} instagram={instagram} youtube={youtube} website={website} />
		{
			slides && (
				<div class="flex items-center justify-center mt-5">
				<a target="_blank" class="inline-block hover:opacity-80 text-yellow-500 font-medium" href={(slides.startsWith('http://') || slides.startsWith('https://')) ? slides : `/meetup/${meetupSlug}/slides/${slides}`}>
					<img src="/images/elements/icon-presentation.svg" height="25" width="25" alt="Slides of the talk" class="inline-block" /> Download slides of the talk
        </a>
				</div>
			)
		}
	</div>
</div>
